PORT=8000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/authstack
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-jwt-secret-change-in-production
REFRESH_SECRET=your-refresh-secret-change-in-production
CLIENT_URL=http://localhost:3000

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@authstack.com
